{
    "parser":  "@babel/eslint-parser",
    "extends": ["airbnb"],
    "rules": {
        "indent": ["error", "tab"],
        "no-tabs": 0,
        "no-console": "warn"
    },
    "env": {
        "browser": true,
        "node": true
    }
}
