@import "topiary-tools/scss/index.scss";

@function setLongShadow($color, $length) {
	$value: 0 0 $color;
	@for $i from 1 through $length {
		$value: #{$value}, #{$i}px #{$i}px 1px #{$color};
	}
	@return $value;
}

@mixin longShadow($color, $length: 200) {
	text-shadow: setLongShadow($color, $length);
}

body {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}
.topiary {
	max-width: var(--break2);
	margin: auto;
}
.light {
	padding: $base-unit * 2;
	padding-top: 0px;
	line-height: 70px;
	overflow: scroll;
	text-align: center;
	font-size: 34px;
	width: 100%;
	color: var(--green-dark);
	word-spacing: -9px;
	@include longShadow($green-light, 6);
}
.pot {
	margin-top: $base-unit * 3;
	font-size: 14px;
	text-align: center;
	display: block;
	text-shadow: none;
	word-spacing: -2px;
	color: var(--green-light);
}
.soil {
	width: 100%;
	text-align: center;
	display: block;
	color: var(--green-light);
	font-size: 12px;
}
